.headerContainer {
    margin: 0;
    padding: 0.5rem 0.5rem;
    @media screen and (min-width: $sm_breakpoint) {
        padding: 1rem 1rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        padding: 1rem 2rem;
    }
    background-color: transparent;
    position: absolute;
}
.netflixLogo {
    width: 7rem;
    height: 3.2rem;
    fill: #e50914;
    @media screen and (min-width: $md_breakpoint) {
        width: 16rem;
        height: 4.5rem;
    }
}
