.headerContainer {
    margin: 0;
    padding: 1rem;
    @media screen and (min-width: $sm_breakpoint) {
        padding: 2rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        padding: 3rem;
    }
}
.netflixLogo {
    width: 7rem;
    height: 3.2rem;
    fill: #e50914;
    @media screen and (min-width: $sm_breakpoint) {
        width: 16rem;
        height: 4.5rem;
    }
}
