.mediaCarouselWrap {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.sliderAndButtonWrap {
    position: relative;
}

.mediaNextButton {
    @include carouselNextAndPrevButton;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    outline: none !important;
    opacity: 0;
    transition: opacity 0.5s;
}

.mediaBackButton {
    @include carouselNextAndPrevButton;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    outline: none !important;
    opacity: 0;
    transition: opacity 0.5s;
}

.mediaContainerCarousel {
    position: relative;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
    &:hover {
        // padding: 0;
        z-index: 2;
        transform: scale(1.1, 1.1);
        transition: all 0.3s ease;
    }

    margin: 0 0.25rem;
    transition: all 0.3s ease;
    border-radius: 1rem;
    @media screen and (min-width: $sm_breakpoint) {
        margin: 0 0.5rem;
    }
}
.mediaOutlineDownContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;

    opacity: 0;
    // background-image: linear-gradient(
    //     to bottom,
    //     rgba(0, 0, 0, 0.7) 10%,
    //     rgba(0, 0, 0, 0)
    // );

    transition: opacity 0.5s;
    &:hover {
        opacity: 1;
        transition: opacity 0.5s;
    }
}
.outlineDownWrap {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.2rem;
    @media screen and (min-width: $md_breakpoint) {
        padding: 0.5rem;
    }
    .outlineDown {
        cursor: pointer;
        color: white;
        font-size: 1.2rem;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 2rem;
            padding-bottom: 0.4rem;
        }

        @media screen and (min-width: $lg_breakpoint) {
            font-size: 2.3rem;
            padding-bottom: 0.4rem;
        }
        @media screen and (min-width: $xl_breakpoint) {
            padding-bottom: 0.6rem;
        }
        right: 1rem;
    }
}

// .moviePosterTitleFade {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     z-index: 0;
//     background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0, transparent 34%);
// }

// .movieOverlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     cursor: pointer;
//     background: rgba(0, 0, 0, 0.6);
//     h3 {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         color: white;
//         text-transform: uppercase;
//         font-size: 0.8rem;
//         @media screen and (min-width: $sm_breakpoint) {
//             font-size: 1.3rem;
//         }
//         @media screen and (min-width: $md_breakpoint) {
//             font-size: 1.6rem;
//         }
//         @media screen and (min-width: $lg_breakpoint) {
//             font-size: 2rem;
//         }
//         filter: none;
//     }
//     // opacity: 0;
//     transition: all 0.3s ease;

//     &:hover {
//         opacity: 1;
//     }
// }
