.mediaCarouselWrap {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.sliderAndButtonWrap {
    position: relative;
    @include sidePaddingForCarouselAndTitle;
}

.mediaNextButton {
    @include carouselNextAndPrevButton;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    outline: none !important;
    opacity: 0;
    transition: opacity 0.5s;
}

.mediaBackButton {
    @include carouselNextAndPrevButton;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    outline: none !important;
    opacity: 0;
    transition: opacity 0.5s;
}

.mediaContainerCarousel {
    position: relative;
    z-index: 0;
    opacity: 0;
    cursor: pointer;

    &:hover {
        // padding: 0;
        z-index: 2;
        transform: scale(1.1, 1.1);
        transition: all 0.3s ease;
    }

    margin: 0 0.25rem;
    transition: all 0.3s ease;
    border-radius: 1rem;
    @media screen and (min-width: $sm_breakpoint) {
        margin: 0 0.5rem;
    }
}
.mediaOutlineDownContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    // background-image: linear-gradient(
    //     to bottom,
    //     rgba(0, 0, 0, 0.7) 10%,
    //     rgba(0, 0, 0, 0)
    // );

    transition: opacity 0.5s;
    &:hover {
        opacity: 1;
        transition: opacity 0.5s;
    }
}
.clickForWatch {
    width: 100%;
    height: 100%;
}
.outlineDownWrap {
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.3rem;
    padding-bottom: 0.6rem;
    @media screen and (min-width: $md_breakpoint) {
        padding: 0.5rem;
    }
    .outlineDown {
        cursor: pointer;
        color: white;
        font-size: 1.2rem;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 2rem;
            padding-bottom: 0.4rem;
        }

        @media screen and (min-width: $lg_breakpoint) {
            font-size: 2.3rem;
        }
        @media screen and (min-width: $xl_breakpoint) {
            padding-bottom: 0.6rem;
        }
        right: 1rem;
    }
}

.removeWatchingIcon {
    z-index: 1;
    position: absolute;
    top: 0.2rem;
    right: 0.4rem;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    padding-top: 0.2rem;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 1.8rem;
        top: 0.5rem;
        right: 0.5rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        top: 0.8rem;
        right: 0.7rem;
    }

    @media screen and (min-width: $lg_breakpoint) {
        font-size: 2.3rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        top: 1rem;
    }
}
