$fallback-fonts: helvetica, arial, sans-serif;

//COLORS
$purple: #373373;
$light-purple: #3e4153;
$light-blue: #2681db;
$light-grey: #e2e2e5;
$light-green: #37a864;
$grey: #6f727f;
//BREAKPOINT
$sm-breakpoint: 520px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
