.registerContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.registerBackgroundWrap {
    position: relative;
    width: 100vw;
    height: 20rem;
    overflow: hidden;
    z-index: -1;

    img {
        min-width: 100%;
        min-height: 100%;
    }
}
.registerFade {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    background: black;
    width: 100%;
    height: 100%;
}

.registerSectionWrap {
    text-align: center;
    padding: 0.5rem 1rem;
    max-width: 65rem;
    @media screen and (min-width: $lg_breakpoint) {
        max-width: none;
        display: flex;
        padding: 0.5rem 5rem;
    }
}
.registerSectionTitleWrap {
    margin-top: 4rem;
    h3 {
        font-size: 2rem;
        font-weight: normal;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 2.1rem;
        }
        @media screen and (min-width: $md_breakpoint) {
            font-size: 2.4rem;
        }
        @media screen and (min-width: $lg_breakpoint) {
            font-size: 2.8rem;
        }
        @media screen and (min-width: $xl_breakpoint) {
            font-size: 3.2rem;
        }
    }
    h1 {
        font-family: "Netflix Sans Bold";
        font-size: 2rem;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 2.6rem;
        }
        @media screen and (min-width: $md_breakpoint) {
            font-size: 3.1rem;
        }
        @media screen and (min-width: $lg_breakpoint) {
            font-size: 3.5rem;
        }
        @media screen and (min-width: $xl_breakpoint) {
            font-size: 4rem;
        }
    }
    @media screen and (min-width: $lg_breakpoint) {
        width: 50%;
        margin-top: 8rem;
    }
}
.tvContainer {
    position: relative;
    display: flex;
    overflow: hidden;
}
.registerSectionImg {
    width: 100%;
    height: 100%;
}
.registerSectionImgWrap {
    width: 100%;
    @media screen and (min-width: $lg_breakpoint) {
        width: 50%;
    }
}

.tvVidContent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.watchEverywhereTVContent {
    position: absolute;
    left: 17%;
    width: 65%;
    height: 70%;
    z-index: -1;
}
