.searchResultContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 6rem 1rem;

    @media screen and (min-width: $sm_breakpoint) {
        padding: 8rem 1rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        grid-template-columns: repeat(4, 1fr);
        padding: 10rem 3rem;
    }

    .searchResultContentWrap {
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
