.signInBackgroundWrap {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    position: absolute;

    img {
        min-width: 100%;
        min-height: 100%;
    }
    color: white;
}
.signInFade {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    background: black;
    width: 100vw;
    height: 100vh;
}
